{% extends "base.html" %}

{% block content %}
<div class="header">
    <div class="head d-flex ">
        <div class="head-item wow animate__animated animate__fadeInLeft" id="head_item1">

            <div class="item">
                <h1>
                    HELPING YOU THRIVE IN ALL AREAS OF LIFE
                </h1>
            </div>
            <div class="item">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis deleniti eaque est eveniet
                    fuga ipsum maiores odio pariatur quae quas, recusandae saepe sed vitae.
                </p>
            </div>
            <div class="item">
                <input class="head-button" id="head_button1" type="button" value="WHO AM I">
                <input class="head-button" id="head_button2" type="button" value="WHAT DO I DO">
            </div>

        </div>
        <div class="head-item wow animate__animated animate__fadeInRight">
            <div class="image">
                <img src="https://media.istockphoto.com/id/1304227354/photo/started-with-a-mile-now-were-at-marathons.jpg?b=1&s=170667a&w=0&k=20&c=d8srpGOeKDV3Tp0GbEvrsQdC_em4TO-JmRvTzSGCW-g="
                     alt="#">
            </div>
        </div>
    </div>
</div>

{% endblock %}